<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Saved Cats</title>
    <style>
        .cat-image {
            max-width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<h1>Saved Cats</h1>
<button type="submit" id="homeButton">Home</button>

<form th:action="@{/deletecats}" method="post">
    <ul>
        <li th:each="savedCat : ${savedCats}">
            <img th:src="@{${savedCat.imageUrl}}" alt="Cat Image" class="cat-image">
            <input type="checkbox" th:value="${savedCat.catId}" th:name="catIds">
        </li>
    </ul>
    <button type="submit">Delete Selected Cats</button>

</form>





</body>
<script>

    document.getElementById('homeButton')
            .addEventListener('click', function() {
        window.location.href = "/cat";
    });

</script>
</html>
